<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ToDo App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://127.0.0.1:8000/#">Home</a></li>
      <li><a href="http://127.0.0.1:8000/todoapp/">ToDoApp page</a></li>
      <li><a href="http://127.0.0.1:8000/about/">About devloper</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Button</button>
  </div>
</nav>

<div class="container">
 
</div>
<body style="background-color:powderblue;"></body>
    <h1 style="background-color:rgb(28, 116, 204);">About Me:</h1>
   
    <p style="color:red;">Academic</p>
    <p>1.I have completed my SSC from SMSS and HSC from PLSCK.<br>
        
          Currently i am studying BSc in CSE in Daffodil International University.<br>

          I am also a competitive programmer.I have worked on django,java,python and c++ project.<br>
          If you want to contact with me then : https://github.com/injamul3798


      
      </p>

    <p style="color:red;">Hobby</p>
    <p>1.Playing Cricket.<br>
        It always makes me happy. I can play all day cricket😊<br>
      2.Playing badminton<br>
      3.Travelling<br>
          I have traveled only a few places. you know? I like nature . So I just want to see those       things.<br>
      4. Coding
      </p>
    
</body>
</body>
</html>


